body {
    background-color: #272829;
}

.header {
    image-orientation: center;
}

.header{
    color: purple;
    font-family: gugi, cursive;
    font-size: 100px;
    text-align: center;
    float: center;
}

button {
    size: 20em;
    margin: 10px;
    padding: 10px;
    border-radius: 50%;

}

.rock {
    background-color: #F00077;
    float: left;
}

.paper {
    background-color: #1B70F0;
    margin-left: 20%;
}

.scissors {
    background-color: #F0E148;
    float: right;
}

h2 {
    font-family: gugi, cursive;
    color: purple;
}

p {
    font-family: gugi, cursive;
    color: purple;
}

.playerScore {
    margin-left: 5%;
}

.computerScore {
    margin-left: 55%;

}

.reset {
    font-family: gugi, cursive;
    color: purple;
    background-color: #272829;
    font-size: larger;
    margin-left: 30%;
}